<form id="formReducido">
    ID :
    <br>
    <input id="idP" name="id" type="text" required pattern="[A-Za-z]{2}\d{4}[A-Za-z]{2}" placeholder="AA1234AA"
        maxlength="8">
    <br>
    Nombre :
    <br>
    <input id="nombre" name="nombre" type="text" required maxlength="100" placeholder="Nombre del mineral">

    <div>
        Grupo/Origen
        <br>
        <select id="gr/or" name="gr/or" required>
            <option value="">-- Grupo/Origen --</option>
            <option value="igneas">Igneas</option>
            <option value="Metamorficas">Metamorficas</option>
            <option value="Sedimentareas">Sedimentareas</option>
        </select>
    </div>


    <div class="row">
        Dureza
        <div class="col">
            <input type="number" name="dureza" id="dureza" min="1" max="10" step="1" required value="1">
        </div>
        Tamaño Cristales
        <div class="col">
            <input type="number" name="tamC" id="tamC" min="0" max="10" step="0.1" required value="0">
        </div>
    </div>

    <div>
        Tamaño del grano
        <br>
        <select id="tamGrano" name="tamGrano" required>
            <option value="">-- Tamaño del Grano --</option>
            <option value="muyGrueso">Grano muy grueso: &gt; 30 mm </option>
            <option value="grueso">Grano grueso: 5 a 30 mm</option>
            <option value="medio">Grano medio: 2 a 5 mm</option>
            <option value="fino">Grano fino: &lt; 2 mm</option>
        </select>
    </div>
    <div>
        Clasificación de las rocas
        <br>
        <select id="clasificacion" name="clasificacion" required>
            <option value="">-- Clasificación --</option>
            <option value="construccion">Rocas de construcción</option>
            <option value="ornamentales">Rocas ornamentales</option>
            <option value="utensilios">Rocas de uso en utensilios</option>
            <option value="piedras_machacadas">Piedras machacadas (áridos, agregados, ripios)</option>
        </select>
    </div>
    <div>
        Temperatura en formacion :
        Rango (-100 a 100)
        <br>
        <input id="tempFormacion" name="temperatura" type="number" min="-100" max="100" step="0.1" required value="0"
            placeholder="Temperatura de formación (K) -100 a 100">
    </div>
    Estructura
    <textarea id="estructura" name="estructura" rows="3"
        placeholder="Estructura - Texto libre sobre la estructura"></textarea>
    <div>
        Textura
        <br>
        <select id="textura" name="textura" required>
            <option value="">-- Clasificación de textura --</option>
            <option value="vitrea">Vítrea</option>
            <option value="afanitica">Afanítica</option>
            <option value="faneritica">Fanerítica</option>
        </select>
    </div>

    <div style="margin-top:14px">
        <button type="submit">Guardar mineral</button>
    </div>

    <div id="output" style="margin-top:16px"></div>
</form>